.introSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
  flex-wrap: wrap;
}

.introTextContent {
  max-width: 45%;
  /*   background-color: aliceblue; */
}

.imageWrapper {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.imageCircle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkButtons {
  display: flex;
  gap: 10px;
  margin-top: 1.5rem;
}

/* Link Buttons */

.button {
  background-color: #232426;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #232426;
}
.button:hover {
  background-color: white;
  color: #232323;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #232323;
  transition: background-color 0.5s ease, transform 0.3s ease-in-out;
}

.secondaryButton {
  background-color: white;
  color: #262626;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #232426;
  transition: all 0.3s ease-in-out;
}

.secondaryButton:hover {
  background-color: #232426;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #233436;
}

@media (max-width: 768px) {
  .introSection {
    max-width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    margin: 2rem 0 3rem 0;
  }

  .introTextContent {
    max-width: 100vw;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .imageWrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 2rem;
  }
  .linkButtons {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
  }
}
